html,body{
	height: 99%;
	width: 99%;
}
*{
	box-sizing: border-box;
}
.banner{
	background-color: #f8a0a9;
	margin: 15px;
	padding: 10px;
	border: 3px solid #F2CF8D;
	box-shadow: 1px 3px 30px 1px #f88787;
	outline: 10px 10px #f2b226 groove;
	text-transform: capitalize;
	text-shadow: 1px 1px #F2CF8D ;
	font-family: fantasy;
	height: 120px;
	text-align: right;
	font-style: oblique;
}
h1{
	font-size: 0.6em;
}

#logo{
	width: 80px;
	position: absolute;
	top: 40px;
	right: 1930px;
}
.container{
	border:2px #7d0434 solid;
	position: relative;
	top: 2px;
	margin: 15px;
	padding: 10px;
	height: 700px;
	overflow: hidden;
	background-color: #fbe5d0;
  box-shadow: 1px 3px 30px 1px #7d0434;
}

.projects{
  position: absolute;
  top: 50px;
  left: 70px;
  color:#700047;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  text-shadow: 2px 2px #eabed4;
  font-style: fanstasy;;
  width: 100px;
  overflow: hidden;
}

iframe{
  margin: 100px;
  padding: 100px;
}

.wave{
	border: red 1px solid;
	background-color: rgba(255,34,45, 0.5);
	font-size: 5px;
	height: 25px;
	overflow: hidden;
	width: 80%;
	position:relative;
	left: 10%;
	transition: height 4s;
	display:block;
}
#l1{
	border:#D9A404 1px solid;
	background-image:repeating-linear-gradient(#db8f9c, #ffe294);
}
.wave:hover{
	height:90%;
	top:1px;
	z-index:1;
}
.menu{
	position: absolute;
	top: 50px;
	left: 70px;
	color:#700047;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2em;
	text-shadow: 2px 2px #eabed4;
	font-style: fanstasy;;
	width: 100px;
	overflow: hidden;
}
.menu a{
	color: #f382ba;
	background-color: #7d0434;
	text-shadow: 0px 0px ;
  font-family: fantasy;
	font-size: 0.2em;
	padding: 1px;
	border: 1px solid #db8080;
	display: none;
}
.menu:hover a{
	display: block;
}
.menu a:hover{
	color: #e199b9;
	background-color: #f6e6bc;
}
#projects, #outputs{
  position: relative;
  left: 100px;
}
#variables, #inputs{
  position: relative;
  left: 100px;
}
#calculation, #functions{
  position: relative;
  left: 100px;
}
#ifElse, #elif{
  position: relative;
  left: 100px;
}
#iteration{
  position: relative;
  left: 100px;
}




body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.navbar {
  overflow: hidden;
  background-color: #700047; 
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: lightgoldenrodyellow;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color:  #700047;;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color:  #700047;;
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: #f6e6bc;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #f4e1ae;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}

.left{
  width: 48%;
  height: 600px;
  border:none;
  margin: 1px;
  padding: 3px;
  overflow: auto;
}

.right{
  width: 50%;
  position: absolute;
  right: 5px;
}
h3{
  color: #46012d;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h4{
  color: #46012d;
  font-family: fantasy;
}
h5{
  color: #46012d;
  font-family: fantasy;
}


